<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <style>
    .container iframe{
      width: 100vw;
      height: 100vh;
    }
  </style>
</head>
<body>
  <div class="container">
    <iframe title="Bazzar Bandhu- a superstore dashboard" 
            src = "https://app.powerbi.com/reportEmbed?reportId=af6d0afb-5990-4845-a2c1-f1383b38e138&autoAuth=true&ctid=a57f7d92-038e-4d4c-8265-7cd2beb33b34" 
            frameborder="0" 
            allowFullScreen="true">
    </iframe>
  </div>
</body>
</html>