<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/signin.css')}}">
</head>
<body>
    {% if error %}
        <script>alert("Password must be of min length 8 with a uppercase, lowercase characters, some special symbols and some digits")</script>
    {% endif %}
    <div class="container">
        <div class="login-form">
            <div class="logo-container">
                <img src="{{url_for('static', filename = 'img/loginlogo.png')}}" alt="Bazzar Bandhu Logo">
                <h2>Bazzar Banddhu</h2>
            </div>
            <form action="{{url_for('forget_password')}}" method="POST" />
                <!-- <input type="hidden" name="access_key" value="4351a384-b3b8-47dd-9925-c5cf26e2895c"> -->
                <label for="username">Email ID:</label>
                <input type="text" id="username" placeholder="Enter Username" name="email" required><b><span class="contact-input"> </span></b><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Enter Password" name="password" required><b><span class="contact-input"></span></b><br><br>
                <!-- <label for="password">Confirm Password:</label>
                <input type="password" id="password" placeholder="Enter Password" name="password" required><b><span class="contact-input"></span></b><br><br> -->
                <!-- <link rel="stylesheet" href=""> -->
        
                <input type="submit" value="Login">
            </form>
            <p>Don't have an account? <a href="{{url_for('signup')}}">SignUp</a></p>
        </div>
</body>
</html>