<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bazzar Banddhu SignUp</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/signup.css')}}"> <!-- link to your stylesheet -->

    <!-- <script>
        alert("You are succesfully Login")
    </script> -->


</head>
<body>
    {% if error %}
        <script>alert("Password must be of min length 8 with a uppercase, lowercase characters, some special symbols and some digits")</script>
    {% endif %}
    <div class="container">
        <div class="login-form">
            <div class="logo-container">
                <img src="{{url_for('static', filename = 'img/loginlogo.png')}}" alt="Bazzar Bandhu Logo">
                <h2>Bazzar Banddhu </h2>
            </div>
            <form action="{{url_for('signup')}}" method="POST" />
                <label for="username">Name: </label>
                <input type="text" id="name" placeholder="Enter your name" name="name" ><br><br>
                <label for="Email">Email:</label>
                <input type="text" id="Email"  placeholder="Enter your email" name="email" ><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Enter password" name="password" ><br><br>
                <!-- <label for="password">Confirm-Password:</label>
                <input type="password" id="password" placeholder="Enter Conform-Password" name="password" ><br><br> -->
                <!-- <label for="Email"> Recovery Email:</label>
                <input type="text" id="Email"  placeholder="Enter your recovery email" name="recovery_email" ><br><br> -->
                <link rel="stylesheet" href="">
                <input type="submit" value="Sign Up">
            </form>
            <p>If you have already sign up:- <a href="{{url_for('signin')}}">Sign In</a></p>
        </div>
        {% if cookie %}
        <!-- <script src="index .js"></script> -->
         <script>alert("For signin and signup close the browser and do it !")</script>
        {% endif %}
    </div>
</body>
</html>